<option value="none">Select</option>("A+","A","B","B+","AB","AB+","O","O+","O-")
<option value="A+">A+</option>
<option value="A-">A-</option>
<option value="B+">B+</option>
<option value="B-">B-</option>
<option value="AB+">AB+</option>
<option value="AB-">AB-</option>
<option value="O+">O+</option>
<option value="O-">O-</option>

("Fair","Gora","Sawala","Gavhal","Nimgora","Black","Gora,Smart","Fair,Smart","Gavhal,Smart")
<option value="Fair">Fair</option>
<option value="Gora">Gora</option>
<option value="Sawala">Sawala</option>
<option value="Gavhal">Gavhal</option>
<option value="Nimgora">Nimgora</option>
<option value="Black">Black</option>
<option value="Gora,Smart">Gora,Smart</option>
<option value="Fair,Smart">Fair,Smart</option>
<option value="Gavhal,Smart">Gavhal,Smart</option>